<p style="color: green"><%= notice %></p>

<% content_for :title, "Pets" %>

<h1>Pets</h1>

<div id="pets">
  <div class="row">
    <% @pets.each do |pet| %>
      <%= render pet %>
    <% end %>
  </div>
</div>

<%= link_to "New pet", new_pet_path %>
